{% extends 'base.html' %}
{% block body %}

<h1><center>List of teachers</center></h1>
 <!--table--> <div class="container my-3">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">sno</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Term</th>
            <th scope="col">Class</th>
            
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
            <td>{{row.7}}</td>
            <td>{{row.9}}</td>

            <td><a href="/deleteteach/{{row.0}}"><button type="button" onclick="myFunction()" class="btn btn-dark btn-sm mx-1">Delete</button></a>
            <a href="/updateteach/{{row.0}}"><button type="button" class="btn btn-dark btn-sm mx-1">Update</button></a></td>
            <script>
              function myFunction() {
                alert("Student deleted successfully");
              }
              </script>
          </tr> 
          {% endfor %}
          
      
        </tbody>
      </table>
  </div>

{% endblock %}